
<nav class="navbar-expand-lg nav-color">

   <!-- <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
     
      </a>
    </nav>  
  -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-botons mr-auto">

         <li class="nav-item " routerLinkActive = "active"> <!--El active remarca ese boton -->          
          <a class="nav-link" [routerLink]="['home']"><img src="assets/inicio.png" width="30" height="30">
          </a>
        </li>
  
        <li class="nav-item " routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['series']"><img src="assets/tv.png" width="30" height="30"></a>
        </li>

        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['juegos']"><img src="assets/popcorn.png" width="30" height="30"></a>
        </li>

        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['about']"><img src="assets/information.png" width="30" height="30"></a>
        </li>

  
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="search-nav"  type="text"  #searchInput>
        <button class="search-boton" type="button"  (click)=buscar(searchInput.value) >Search</button>
      </form>
    </div>

  </nav>
   


