<div class=container-info-completa *ngFor="let _peliculas of _pelicula ">
    <div> <img class="img-completa" [src]="_peliculas.Poster"></div>
    <div class="div-info-completa">
        <h2 class="text-light">{{ _peliculas.Title }}</h2>
        <p class="text-wrap-mio">{{_peliculas.Plot}}</p>
        <div class="text-info-completa">
            <h6 class="texto">Duracion:</h6>
            <h6 class="text-light">Lanzamiento:</h6>
            <h6 class="text-light">Genero:</h6>
            <h6 class="text-light">Director:</h6>
            <h6 class="text-light">Porductora:</h6>
            <h6 class="text-light">Puntuacion:</h6>
            <h6 class="text-light">Premios:</h6>
            <h6 class="text-light">Actores:</h6>

        </div>
        <div class="text-info-completa">
            <h6 class="text-light"> {{_peliculas.Runtime}}</h6>
            <h6 class="text-light">{{_peliculas.Released}}</h6>
            <h6 class="text-light"> {{_peliculas.Genre}}</h6>
            <h6 class="text-light"> {{_peliculas.Director}}</h6>
            <h6 class="text-light"> {{_peliculas.Production}}</h6>
            <h6 class="text-light"> {{_peliculas.Metascore}}</h6>
            <h6 class="text-light"> {{_peliculas.Awards}}</h6>
            <h6 class="text-light"> {{_peliculas.Actors}}</h6>
        </div>
    </div>

</div>
<div style="position: relative;">
    <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">


        <div class="carousel-inner" role="listbox">
            <div *ngFor="let _peliculasRe of _peliculasRecomendadas; let i= index" ng-class="i == 0 ? 'item active' : 'item'">
                <img [src]=_peliculasRe.Poster alt="Event Image">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>