<!--
<div class="card animated fadeIn " >
    <img class="card-img-top img-fluid" [src]="pelicula.Poster" [alt]="pelicula.Title">
    <div class="card-body">
      <h4 class="card-title">{{ pelicula.Title }}</h4>
      <p class="card-text"> {{ pelicula.Plot }} </p>
      <p class="card-text"><small class="text-muted">{{ pelicula.Released }}</small></p>
  <button 
        type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
      <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> 
  
    </div>
  </div>
  -->
<div class="card text-white mb-3 bg-dark mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img-top img-fluid" [src]="pelicula.Poster" [alt]="pelicula.Title">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ pelicula.Title }}</h5>
                <p class="block-with-text"> {{ pelicula.Plot }}</p>
                <p class="card-text"><small class="text-muted">{{ pelicula.Released }}</small></p>
            </div>
        </div>
    </div>
    <button (click)=buscar(pelicula.Title) type="button" class="btn btn-lg btn-carta">
    Ver más...
  </button>
</div>