<div class="row animated fadeIn fast" *ngIf="! (_pelicula.length > 0)">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            No existen resultados con el término: {{ nombre }}
        </div>
    </div>
</div>
<div class="div-home">
    <div class="cartas-home">
        <app-pelicula class="carta" [pelicula]="_peliculas" *ngFor="let _peliculas of _pelicula "></app-pelicula>
    </div>
</div>