body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}

.img-logo {
    width: 120px;
}


/*Estos son los estilos de la pagina de la informacion completa*/

.container-info-completa {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.div-info-completa {
    width: 79%;
    margin-left: 50px;
}

.text-info-completa {
    margin-top: 100px;
    margin-right: 100px;
    float: left;
}

.texto {
    margin-right: 10px;
    color: #fff;
}


/*Hasta aqui IformacionCompleta*/

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    max-height: 7.5em;
}

.text-wrap-mio {
    white-space: normal!important;
    color: ghostwhite;
}


/*Estilos del navBar*/

.nav-color {
    background-color: #262a2a!important;
    height: 50px;
}

.navbar-botons {
    margin-left: 50px;
    display: flex;
    float: none;
    list-style: none;
}

.search-nav {
    height: 30px;
    margin-bottom: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

.search-boton {
    margin-right: 100px;
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background-color: #262a2a;
    border: none;
}

/*Hasta aqui navBar*/


/*Estilos de la pagina de home y las cartas*/

.btn-carta {
    background-color: #17a2b8!important;
    color: #fff!important;
    border: none!important;
}

.div-home {
    justify-content: center;
    display: flex;
    align-content: center;
}

.cartas-home {
    width: 1555px;
    height: 1892px;
    flex-direction: column;
    display: flex;
    flex-flow: row wrap;
}


/*Hasta aqui los estilos de la pagina Home*/


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}